---
import Layout from "../layouts/Layout.astro";

import { Heading, P } from "flowbite-svelte";
import Social from "../components/astro/Social.astro";

import AcscImage from "@assets/acsc.png";
import HtlVillachImage from "@assets/htl-villach.png";
import TURBOLogoImage from "@assets/TURBOlogo.jpg";
import KelagImage from "@assets/kelag.svg";
import LicHTerLohImage from "@assets/lichterloh.png";
import Fgc2024Image from "@assets/fgc2024.png";
import FruehwarnungImage from "@assets/fruehwarnung.png";

import ImageCard from "@/components/astro/ImageCard.astro";
---

<Layout
    title="Home"
    description="Tobias Kendlbacher - Software Developer - Student @ HTL Villach">
    <div>
        <Heading tag="h2">Hi there!</Heading>
        <P class="mb-6 mt-6 text-lg lg:text-xl">
            I'm Tobias Kendlbacher and I'm a computer science student from
            Austria.
        </P>
        <Social outerClass="h-12" />
    </div>
    <div>
        <Heading tag="h3" class="mb-6 mt-16 text-lg lg:text-xl">
            Here are some of the things I am passionate about:
        </Heading>
        <!--div class="grid grid-cols-1 grid-rows-[masonry] gap-4 gap-y-2 sm:grid-cols-2 md:grid-cols-[repeat(auto-fill,340px)] [&:has(:hover)>:not(:hover)]:opacity-40 [&>*:hover]:scale-[1.07] [&>*]:transition-all [&>*]:duration-300"-->
        <div
            class="inline-block columns-1 sm:columns-2 md:columns-3 lg:columns-4 [&:has(:hover)>:not(:hover)]:opacity-40 [&>*:hover]:scale-[1.07] [&>*]:transition-all [&>*]:duration-300">
            <ImageCard
                href="https://htl-villach.at/"
                img={HtlVillachImage}
                alt="HTL Villach">
                <h4
                    class="mb-2 text-xl font-bold leading-[1.5rem] tracking-tight text-gray-900 dark:text-white">
                    Computer Science Student at HTL Villach
                </h4>
                <p
                    class="font-normal leading-tight text-gray-700 dark:text-gray-400">
                    2020 - Present
                </p>
            </ImageCard>

            <ImageCard
                href="https://kelag.at/"
                img={KelagImage}
                alt="Software Engineering Intern at KELAG"
                divClass="mb-2 max-w-[14rem] break-inside-avoid p-[1rem] flex flex-col justify-content-center align-items-center">
                <div class="m-[-1rem]">
                    <h4
                        class="mb-2 text-xl font-bold leading-[1.5rem] tracking-tight text-gray-900 dark:text-white">
                        Software Engineering Intern at KELAG
                    </h4>
                    <p>July - August 2024</p>
                </div>
            </ImageCard>

            <ImageCard
                href="https://turbotheater.at/"
                img={TURBOLogoImage}
                alt="TURBOtheater Villach">
                <h4
                    class="mb-2 text-xl font-bold leading-[1.5rem] tracking-tight text-gray-900 dark:text-white">
                    Member of TURBOtheater Villach
                </h4>
            </ImageCard>

            <ImageCard
                href="https://theater-lichterloh.com/"
                img={LicHTerLohImage}
                alt="Theater LicHTerLoh"
                divClass="mb-2 break-inside-avoid p-[0.5rem]">
                <div class="m-[-0.5rem]">
                    <h4
                        class="mb-2 break-inside-avoid text-xl font-bold leading-[1.5rem] tracking-tight text-gray-900 dark:text-white">
                        Actor at Theater LicHTerLoh
                    </h4>
                </div>
            </ImageCard>

            <ImageCard
                href="https://verbotengut.at/"
                img={AcscImage}
                alt="ACSC">
                <h4
                    class="mb-2 text-xl font-bold leading-[1.5rem] tracking-tight text-gray-900 dark:text-white">
                    2<sup>nd</sup> place at the Austrian Cyber Security Challenge
                    2023
                </h4>
            </ImageCard>

            <ImageCard
                href="https://fruehwarnung.com/"
                img={FruehwarnungImage}
                alt="Frühwarnung - Schülerzeitung der HTL Villach">
                <h4
                    class="mb-2 text-xl font-bold leading-[1.5rem] tracking-tight text-gray-900 dark:text-white">
                    Schülerzeitung der HTL Villach
                </h4>
                <p
                    class="font-normal leading-tight text-gray-700 dark:text-gray-400">
                    Berichterstattung & Publishing
                </p>
            </ImageCard>

            <ImageCard
                href="https://first.global/"
                img={Fgc2024Image}
                alt="FIRST Global Team Austria"
                imgClass="object-cover h-[150px]">
                <h4
                    class="mb-2 text-xl font-bold leading-[1.5rem] tracking-tight text-gray-900 dark:text-white">
                    <i>FIRST</i> Global Challenge 2023 & 2024
                </h4>
            </ImageCard>
        </div>
    </div>
</Layout>
